/* =====================
  General Styling
  ====================== */
body {
background-color: #00b7cf;
  color: #1d2a62;
  font-family: "Roboto-Serif", serif;
  margin: 0 auto;
  padding: 80px auto;
  line-height: 1.5;
}

section {
  padding: 0 10px;
}

p {
  font-size: 18px;
}

/* =====================
  Navigation Menu
  ====================== */
nav {
  background-color: #ededed;
  border-radius: 100px;
  font-family:"Roboto", serif;
  box-shadow: 0 8px 20px rgba(12, 123, 163, 0.459);

  font-style: bold;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 20px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  z-index: 100;
  width: 40%;

  text-align: center;
  justify-content: center;
  margin: 20px;
  margin-left: auto
}

nav a {
  color: #00b7cf;
  text-decoration: none;
  padding: 20px;
}

nav a:hover {
  color: #1d2a62;
  font-size: 11px;
  }

/* =====================
  Title/Header
  ====================== */
header {
  background-color: #00b7cf;
  overflow: hidden;
  color: #ededed;
  text-align: center;
  margin: 0 auto;
  padding: 200px;
  line-height: .8;
}

header h1 {
  font-family: "Darumadrop One", sans;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  margin-top: 0;
}

header p {
  letter-spacing: 2px;
  padding: 0 30px;
  margin-top: 0;
}

header em {
  color: #fed85d;
  font-size: larger;
}

/* =====================
  Headings
  ====================== */
h2 {
  width: 40%;
  margin-right: auto;
  font-size: 40px;
  font-family: "Roboto", sans;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
 /* padding: 0 90px; */
}

h3 {
  font-size: 26px;
}

/*  =====================
  About
  ====================== */
#About {
  background-color: #ededed;
  border-radius: 300px 300px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 58px 90px;
  margin-bottom: -20px;
}

#About h2 {
  color: #1d2a62;
  text-align: left;
  padding: 0 30px;
}

#About h3 {
  text-align: left;
  font-style: italic;
  text-transform: uppercase;
  color: #6daf5f;
  padding: 0 30px;
}

#About img {
  width: 600px;
  height: 500px;
  border-radius: 270px;
  object-fit: cover;
  padding: 20px;
}

#About p {
  font-size: 20px;
  padding: 0 30px; 
}

.about-column {
  color: #239dca;

  text-align: left;
  padding: 80px;
}

#About em {
  color:#6daf5f
}

.quote-container {
  background-color: #6daf5f;
  margin: 20px auto;
  padding: 30px;
  position: relative;
  z-index: 99;

}

.quote {
  font-size: 20px;
  color: #ededed;
  position: relative;
  align-items: center;
  font-family: "Roboto-Serif", sans;
  font-style: italic;
  margin: 655px 0 0 655px;
}

/*  =====================
  Experience
  ====================== */
#Experience {
  margin-top: -33px;
  background: linear-gradient(#ededed 40%, #00b7cf 60%);
}

#Experience h2 { 
  width: 300px;
  height: 80px;
  margin-left: 0 auto;
  text-align: left;
}

#Experience ul {
  list-style: none;
  padding: 0;
  width: fit-content;
}

#Experience li { 
  border-radius: 30px;
  text-align: center;
  padding: 25px;
  margin: 15px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/*  =====================
  Education Rows
  ====================== */

.education {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.ed-title {
  font-weight: normal;
  color: #1d2a62;

}

.ed-date {
  color: #1d2a62;
  font-style: italic;
  padding-left: 80%;
  margin-top: -17.5%;
}

.ed-description li {
  background-color: #00b7cf;
  
}


/*  =====================
  Work Rows
  ====================== */
.work {
  background-color: #00b7cf;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 0 300px;
}

.work-title {
  font-weight: normal;
  color: #1d2a62;

}

.work-date {
  color: #1d2a62;
  font-style: italic;
  padding-left: 80%;
  margin-top: -8%;
}

.work-description li {
  background-color: #ededed;
 }

 .work-description p {
    width: fit-content;
 }

/*  =====================
  Skills
  ====================== */
  /*
#Skills {
  background-color: #ededed;
}
*/
/*  =====================
  Projects
  ====================== */
  /*
#Projects {
  background-color: #ededed;
}

#Projects ul {
  padding-left: 20px;
}
*/

/*  =====================
  Connect
  ====================== */
#Connect {
  background-color: #1d2a62;
  margin: 0 auto;
}
#Connect h2 {
  color: #ededed;
}

#Connect ul {
  list-style: none;
  padding: 0;
}

#Connect a {
  color: #ededed;
  text-decoration: none;
  font-weight: normal;
  font-style: italic;
  display: flex;
  flex-direction: rows;
  padding: 10px;
}

#Connect a:hover {
  color: #3498db;
}